/* Правила скрытия элементов */
.visual-hidden:not(:focus):not(:active), /* позаимствованно у HTML Academy */
input[type='checkbox'].visual.hidden,
input[type='radio'].visual-hidden {
    position: absolute;
    
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* __Правила скрытия элементов__ */

body {
  font-family: "Segoe UI";
  font-size: 17px;
}
 
.clear-list {
  padding-left: 0;

  list-style: none;
}

.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}

.title__center {
  text-align: center;
}
.title__right {
  text-align: right;
}



img {
  max-width: 100%;
}

.title,
.product__item__title {
  font-size: 18px;
}
.subtitle,
.sidenav .sidenav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}
.sidenav [class*=neu-].sidenav-link {
    margin: 10px 0;
}

a strong,
.navbar .logotype {
  font-weight: 900;
  font-size: 16px;
}

.section .text-lead .title,
.section .text-lead strong,
.footer .footer-heading {
  font-size: 18px;
  line-height: 23px;
}
.section .text-lead {
  font-weight: 400;
}
.section .text-lead .title,
.section .text-lead strong {
  font-weight: 500;
}

.section .image-cont {
    display: none;
    
    order: 1;
}
.section .text-lead {
  order: 2;
}

.main__section .text-lead strong,
.section__tools .tools__text__logo {
  font-weight: 700;
}
.main__section .text-lead {
  order: 2;
}
.main__section .image-cont {
    display: block;
    
    width: 100%;
    
    order: 1;
}
.main__section .image-cont img {
  width: 150px;
  height: 150px;
}

.section__products .product__item__title,
.section__products .product__item__bold,
.section__products .btn,
.width-100 {
  width: 100%;
}
.section__products .product__item__title,
.section__products .product__item__bold {
  text-align: center;
}
.section__products .product__item__bold {
  font-weight: bold;
}


.section__resolve .img-poster {
  max-width: 250px;
  max-height: 250px;
  width: 100%;
  height: 100%;

  margin-left: auto;
  margin-right: auto;
}
.section__resolve .send-button {
    width: 100%;
}

.section__tools .using-list {
  justify-content: space-around;
}
.section__tools .logo {
    display: flex;
    align-items: center;
}

.footer .d-flex {
  justify-content: space-between;
}

.footer .footer-logo-link {
  max-width: 75px;
  max-height: 75px;
  width: 100%;
  height: 100%;

  margin-left: auto;
  margin-right: auto;
}

header .dropdown .dropdown-content {
    left: -50%;
}

.section__portfolio .poster-cont {
    max-width: 450px;
    width: 100%;
}
.section__portfolio .poster {
    max-width: 450px;
    width: 100%;
    max-height: 400px;
    height: auto;
}
.section__portfolio .txt {
}
.section__portfolio .item {
    justify-content: space-around;
}
.section__portfolio .vimeo-cont iframe {
    width: 100%;
}

.footer .margin {
    width: 100%;
}
.footer .social-media {
    justify-content: space-around;
}
.footer .social-media .item {
    width: 30px;
    height: 30px;
}
.footer .social-media img {
    width: 100%;
    height: 100%;
}
.footer .self-center {
    max-width: 400px;
    
    margin-left: auto;
    margin-right: auto;
}

.blog-list .art-prev {
    width: 100%;
}

.sidenav {
    max-width: 300px;
    width: 100%;
}
.sidenav .sidenav-header .sidenav-trigger {
    left: initial;
    right: 0;
}

.header .sidenav-trigger {
    display: inline-flex;
    align-items: center;
}
.mobile-menu-icon-cont {            
    cursor: pointer;
    
    width: 100%;
    height: 30px;
    
    padding-top: 1px;
}
.mobile-menu-line-one,
.mobile-menu-line-two,
.mobile-menu-line-three {
    width: 28px;
    height: 4px;
    background-color: #A84F46;
    margin: 4px auto;
    transition: 0.4s;
}

@media (min-width: 768px) {
    .section__resolve .lead-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .section__resolve .lead-form .form-field {
        width: 47%;
    }
    .section__resolve .lead-form .prod-sel,
    .section__resolve .lead-form .comment {
        width: 100%;
    }
}

.section__about .photo-cont {
    max-width: 350px;
    width: 100%;
}
.section__about .photo-cont .photo {
    width: 100%;
}

@media (min-width: 1024px) {
    .section {
        position: relative;
    }
    
    .section .image-cont {
        display: block;
    }

    
    .section .container {
        justify-content: space-between;
    }
    
    
    .section .image-cont,
    .section .text-lead {
        order: initial; 
    }
    .section .image-cont {
        align-self: center;
        
        width: 28%;
    }
    .section .text-lead {
        width: 62%;
    }

    .main-section .container {
        min-height: 300px;
    }
    
    .main__section .text-lead {
        align-self: center;
        
        width: 50%;
    }
    .main__section .image-cont {
        width: 50%;
    }

    .main__section .image-cont img {
        width: 250px;
        height: 250px;
    }

    .section__products .products-list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: baseline;
    }
    .section__products .product__item {
        max-width: 370px;
        width: 100%;

        margin-bottom: 30px;
        margin-top: 30px;
    }

    .section__advantages .text-lead,
    .section__pains .image-cont {
        order: 1;
    }
    .section__advantages .image-cont,
    .section__pains .text-lead {
        order: 2;
    }

    .footer .footer-logo-link {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .footer .margin {
        max-width: 250px;
        
        margin-left: 10px;
        margin-right: 10px;
    }

    .blog-list .art-prev {
        max-width: 350px;
    }
}
